.radiator-list-column{
    width: 65%;
    float: left;
    font-family: 'Roboto', sans-serif;
}

.history-column{
    width: 35%;
    float: left;
    font-family: 'Roboto', sans-serif;
}

.radiator-list-container{
    flex-direction: column;
    display: flex;
    margin: auto;
    width: 100%;
    height: 100px;
}

.radiator-list-box{
    display: flex;
    position: relative;
    border: 2px solid black;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    flex-basis: 0;
    margin-bottom: 7px;
    height: 100%;
}

.radiator-list-box div{
    font-size: 20px;
    text-align: center;
    border-width: thin;
    line-height: 30px;
    margin: 0;
    flex-basis: 0;
}

.radiator-list-header{
    display: flex;
    position: relative;
    border: 2px solid black;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    flex-basis: 0;
    margin-bottom: 7px;
    height: 100%;
}

.radiator-list-header p{
    font-size: 20px;
    text-align: center;
    border-width: thin;
    line-height: 30px;
    margin: 0;
    flex-basis: 0;
}