.status-box{
    width: 20px;
    height: 20px;
    display: flex;
    margin-right: 3px;
    margin-left: 3px;
    border: 2px solid black;
    border-radius: 6px;
}

.status-box-container {
    flex-direction: row;
    display: flex;
    margin: auto;
    width: 100%;
    position: absolute;
    bottom: 10px;
    justify-content: center;
}

.cell{
    display: flex;
    position: relative;
    border: 2px solid black;
    border-radius: 6px;
    justify-content: center;
}

.title{
    font: 30px Verdana, sans-serif;
    position: relative;
    bottom: 20px;
}